img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .gallery-image{
    width: 360px;
    height: 200px;
  }
